.choixModeJeu:hover {
  background-color: yellow;
}
.choixModeJeu {
  text-align: center;
  font-size: 160%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.gameScreen {
  border: 1px solid black;
}

.parent {
  display:flex;

}
.narrow {
  width: 700px;
  height: 700px;
}
.wide {
  flex: 1;
  /* Grow to rest of container */
  margin-left: 250px;
}

.afficheInfos {
  width:70px;
  height:70px;
  border:1px solid black;
}

.infosSurLaPartie {
  text-align:center;
}
