/*https://stackoverflow.com/questions/14073498/how-do-i-create-a-change-in-font-size-on-hover-without-realigning-other-text */

@import url('http://fonts.cdnfonts.com/css/games');

.choixModeJeu:hover {
  font-size: 50px;
}
.choixModeJeu {
  text-align: center;
  color:white;
  font-size: 160%;
  margin-top: 10px;
  margin-bottom: 10px;

  line-height: 50px;
  display: block;
}
.gameScreen {
  border: 1px solid black;
}

.parent {
  display:flex;

}
.narrow {
  width: 700px;
  height: 700px;
  background-image: url("./images/backgroundCanvas.png")
}
.wide {
  flex: 1;
  /* Grow to rest of container */
  margin-left: 250px;
}

.afficheInfos {
  width:70px;
  height:70px;
  border:1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infosSurLaPartie {
  text-align:center;
}

.Page{
  background-color: antiquewhite;
  background-image: url(https://cdn.discordapp.com/attachments/820323441818992690/877233927729852436/Snake-Illustration-with-Transparent-Background-680x680.png);
  
}

.Bienvenue{
  color:white;
  background-image: url(https://thumbs.dreamstime.com/z/vintage-background-frame-vintage-background-frame-design-paper-decoration-128717526.jpg);
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
 transform: translate(-50%, -50%);
  border: 8px solid black;
  border-radius: 150px;
  width:fit-content;
  /*padding-left: 50px;
  padding-right: 50px;
  margin-left: 50px;
  margin-right: 50px;*/
  
}


/* code css pour mon modal */

.modal {
  position: fixed; /* qd le user scroll up/down l'ecran, on veut que le modal bouge avec lui */
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  width: 500px;
  max-width: 80%;
  height: 60%;
  top: 20%;
  bottom: 20%;
  background-color : #50C878;
  color: white;
 /* top: 40%;
  /*left: 100%;*/
 /* transform: translateY(-90%); /* A bien revoir le fonctionnement du translate */



 animation: 1s ease-out 0s 1 slideInFromLeft;
}

.modal-header {
  padding: 10px 15px;
  display: flex; /* les elements apparaissent l'un a cote de l'autre */
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-family: 'Brush Script MT', cursive;
  font-size: 40px;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border:none;
  outline:none;
  background: none;
  font-size: 40px;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px; /* Meme padding que le modal-header */
  font-family: 'Games', sans-serif;
}



@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }

}